.inventoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pizzas {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin: 1%;
  background-size: contain;
  background-repeat: no-repeat;
}

#pizzasHam {
  background-color: var(--Ham);
  background-image: url(./Frozen-Characters-Website-3-copy.webp);
}
#pizzasMH {
  background-color: var(--MH);
  background-image: url(./Frozen-Characters-Website-1-copy.webp);
}
#pizzasNap {
  background-color: var(--Nap);
  background-image: url(./Frozen-Characters-Website-4-copy.webp)
}
#pizzasMarg {
  background-color: var(--Marg);
  background-image: url(./Frozen-Characters-Website-2-copy.webp)
}

.pizzaContent {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}
#pizzaContentMH {
  background-color: var(--MHLight);
}
#pizzaContentHam {
  background-color: var(--HamLight);
}
#pizzaContentNap {
  background-color: var(--NapLight);
}
#pizzaContentMarg {
  background-color: var(--MargLight);
}
.plus{
  border-radius: 10px;
  font-weight: bolder;
}
.pizzaTotals {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.pizzaH4 {
  color: var(--pale);
  margin: auto;
  padding: 5%;
  font-weight:bold;
}

.inventoryBox {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}