#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 10em;
  padding: 1.5em;
}




/* main body styling */
.body {
  border-top: solid 2px var(--pale);
  border-radius: 0%;
  padding: 5%;
  width: 100%;
}
.navContent{
  padding: 10px;
  background-color: var(--pale);
}

.button {
  background-color: var(--bertha);
  border: solid 1px var(--dark);
  color: var(--dark);
  text-decoration: solid;
  font-weight: 500;
  border-radius: inherit;
}
.button.active {
  background-color: var(--bertha);
}