:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pale: #fdfdfd;
  --paleLight: rgb(253, 253, 253, 0.7);
  --dark: #1a1a1a;
  --grey: #e2e2e2;
  --darkLight: rgb(26, 26, 26, 0.5);
  --bertha: #eee510;
  --MH: #E95742;
  --Ham: #F1BDCC;
  --Nap: #FCE744;
  --Marg: #88C69A;

  --MHLight: #e95a44f2;
  --HamLight: rgb(241, 189, 204, 0.9);
  --NapLight: rgb(252, 231, 68, 0.9);
  --MargLight: rgb(136, 198, 154, 0.9);

  

  background-color: var(--dark);
  color: var(--pale);
}

*{
  font-family: inherit;
  border-radius: 10px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  background-color: inherit;
  margin: 10px;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-weight: bold;
}

button {
  border: none;
  padding: 0.6em 1.2em;
  margin: 3px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--pale);
  color: var(--dark);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0 0 20px var(--bertha);
}




/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /*  on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.modalContent h3 {
  margin-top: 0;
}
.modalContent label {
  display: block;
  margin-bottom: 10px;
}
.modalContent input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
.modalContent button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modalContent button:hover {
  background-color: #45a049;
}